#VisitorBackground {
     background: radial-gradient(circle at center bottom, #402a6d 0%, #1e005a 30%, #1e005a 36%);
     min-height: 200vh;
}

#VisitorBackground h1 {
     color: #00fff9;
}


#VisitorBackground p, #VisitorBackground span {
     color: #00fff9;
}


.visitorCard {
     background: #431d9041;
     border: 1px solid #00fff9;
     border-radius: 5px;
}

#VisitorBackground .product {
     border: 1px solid #00fff9;
}

.VisitorAnswerButton {
     text-align: center; 
     background: #00fff9;
     color: #1e005a;
}