<<<<<<< HEAD
.editor-container {
    height: 400px; /* Đặt chiều cao mong muốn */
    overflow: auto; /* Cho phép cuộn */
    border: 1px solid #ccc; /* Viền để dễ nhận diện */
}

.ck-editor__editable_inline {
    height: 100%; /* Chiều cao đầy đủ bên trong vùng chứa */
}


/* Đảm bảo rằng container có kích thước hợp lý và canh giữa */
.progress-container {
    width: 100%;
    position: relative;
    margin: 20px 0; /* Khoảng cách phía trên và dưới */
  }
  
  /* Thanh tiến trình màu đen và mỏng */
  .progress-bar {
    height: 2px; /* Chiều cao nhỏ hơn */
    background-color: #000; /* Màu đen */
    transition: width 0.3s ease; /* Hiệu ứng khi thay đổi kích thước */
  }
  
  /* Văn bản hiển thị bước nằm bên dưới thanh tiến trình */
  .progress-text {
    margin-top: 5px; /* Khoảng cách giữa thanh tiến trình và văn bản */
    text-align: left; /* Canh trái văn bản */
    font-size: 14px;
    color: #000;
  }
=======
/* HTML: <div class="loader"></div> */
.loader {
    width: fit-content;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    padding: 0 5px 8px 0;
    background: repeating-linear-gradient(90deg,currentColor 0 8%,#0000 0 10%) 200% 100%/200% 3px no-repeat;
    animation: l3 2s steps(6) infinite;
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  .loader:before {
    content:"Loading..."
  }
  @keyframes l3 {to{background-position: 80% 100%}}
>>>>>>> TienMerge
